@charset "UTF-8";
@font-face {
	font-family: "Avenir";
	src: url(/_fonts/Avenir-Book.ttf) format("truetype");
}
@font-face {
	font-family: "Avenir";
	src: url(/_fonts/Avenir-Black.ttf) format("truetype");
	font-weight: 700;
}
body {
	font-family: "Avenir",Helvetica,Arial,sans-serif;	
}
h1 {
	font-weight:700;
	font-size:4em;	
}
h2, h3 {
	font-weight:700;
	margin-top:0;	
}
a {
	position: relative;
  	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.teal a:before { background-color: #0481A5; }
.orange a:before { background-color: #EF7622; }
.purple a:before { background-color: #542E8E; }
a:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}
p {
	margin:0;	
}
img {
	max-width:100%;	
}
.bold { font-weight:700; }
.dashed-border, hr {
	border-bottom:dashed 1px #0481A5;	
}
.teal {
	background:#F4F6F9; 
}
.teal, .teal a {
  	color:#0481A5;
}
.teal .st0 {fill:#0481A5;}
.orange {
	background:#FFFAF7;
}
.orange, .orange a { 
  	color:#EF7622;
}
.orange .st0 {fill:#EF7622;}
.orange .dashed-border, .orange hr {
	border-bottom:dashed 1px #EF7622;
}
.purple {
	background:#F4F3F9;  
}
.purple, .purple a {
  	color:#542E8E;
}
.purple .st0 {fill:#542E8E;}
.purple .dashed-border, .purple hr {
	border-bottom:dashed 1px #542E8E;
}
header {
	padding:15px 0;	
}
.icons {
	float:right;	
}
.icons, .download {	
	text-transform:uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: .8em;
	text-align: center;
}
.download {	
	text-align:right;
}
.more p {
	min-height:75px;	
}
.more img {
	margin:10px 0 20px;
	border:1px solid #000;	
}
.icons .material-icons {
	font-size:36px;
}
.icons div {
	display:inline-block;	
	margin:0 10px;
}
.title {
	margin:10px 0;
	font-size:1.2em;	
}
.title .material-icons {
	position: relative;
	top: 3px;
	font-size: 1em;
	margin-right: 5px;	
}
.download .material-icons {
	position: relative;
    top: 9px;
    font-size: 2.5em;
    margin-right: 5px;
}
.div-shadow {
	box-shadow:#999 2px 2px 5px;	
	padding:30px;
	margin:15px 0;
}
.div-shadow.img {
	padding:0;	
}
.div-shadow.img img {
	width:100%;	
}
.div-shadow.white {
	background:#fff;	
}
.features-image img {
	width:100%;	
}
.teal .div-shadow.dark {
	background:#E2E9EF;
}
.orange .div-shadow.dark {
	background:#FDEADB;
}
.purple .div-shadow.dark {
	background:#F4F3F9;
}
ul {
	padding:0;	
}
ul li {
	list-style:none;	
}
ol {
	padding:0 15px;	
}
li {
	margin:10px 0;	
}
iframe {
	width:100%;
	height:427.5px;
	margin-top:15px;
}
@media (max-width: 1199px) {
	iframe {
		height:331px;
	}
}
@media (max-width: 991px) {
	iframe {
		height:249px;
	}
}
@media (max-width: 399px) {
	iframe {
		height:168.75px;
	}
}

